/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2018, 11:59:44
    Author     : Sergio
*/
/*
Fondo del documento. Obtenemos un fondo de gradiente azul.

*/
html{
    background: rgba(147,206,222,1);
    background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,0.93) 27%, rgba(82,170,195,0.78) 91%, rgba(73,165,191,0.78) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(27%, rgba(147,206,222,0.93)), color-stop(91%, rgba(82,170,195,0.78)), color-stop(100%, rgba(73,165,191,0.78)));
    background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,0.93) 27%, rgba(82,170,195,0.78) 91%, rgba(73,165,191,0.78) 100%);
    background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,0.93) 27%, rgba(82,170,195,0.78) 91%, rgba(73,165,191,0.78) 100%);
    background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(147,206,222,0.93) 27%, rgba(82,170,195,0.78) 91%, rgba(73,165,191,0.78) 100%);
    background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(147,206,222,0.93) 27%, rgba(82,170,195,0.78) 91%, rgba(73,165,191,0.78) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
    margin: 0px;
    padding: 0px;
}



.clear{
    display:block;
}



.seccionpie {
    float: left;
    width: 270px;
    padding: 25px;
}
.seccionpie h1 {
    font: bold 20px Arial, sans-serif;
}
.seccionpie p {
    margin-top: 5px;
}
.seccionpie a {
    font: bold 16px Arial, sans-serif;
    color: #666666;
    text-decoration: none;
}
.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
}

.formulario {
 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 221px;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

